@font-face {
    font-family: 'Gimpo Batang';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/GimpoBatang/GimpoBatang.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/GimpoBatang/GimpoBatang.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/GimpoBatang/GimpoBatang.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/GimpoBatang/GimpoBatang.ttf') format('truetype');
}
